@tailwind base;
@tailwind components;
@tailwind utilities;


.image{
    background-image: url('../public//assects//images//hero_2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;    
    opacity: 0.4;
}
.woman {
    transition: 0.7s all ease-in;
    width: 100%;
}
.woman:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.update{
    background-image: url('../public//assects//images//hero_2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;    
    /* opacity: 0.5; */
}
.special{
    background-image: url('../public//assects//images//hero_2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    width: 100%;    
    /* opacity: 0.4; */
}

#app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  