@tailwind base;
@tailwind components;
@tailwind utilities;


.image{
    background-image: url('../public//assects//images//hero_2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;    
    opacity: 0.7;
}